# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
package-lock.json
yarn.lock
package-lock.json
prod/multv/3rdpartylicenses.txt
prod/multv/prerendered-routes.json
prod/multv/browser/chunk-JG6N3HPF.js
prod/multv/browser/chunk-W6OSVWBR.js
prod/multv/browser/favicon.ico
prod/multv/browser/index.html
prod/multv/browser/main-52QJVV3A.js
prod/multv/browser/polyfills-RX4V3J3S.js
prod/multv/browser/styles-5INURTSO.css
prod/multv/browser/about/index.html
prod/multv/browser/home/index.html
prod/multv/browser/lazy/index.html
prod/multv/server/chunk-H3CTB7VO.mjs
prod/multv/server/chunk-IA2UY53Q.mjs
prod/multv/server/chunk-O73ZHKXN.mjs
prod/multv/server/chunk-QDYHDBXC.mjs
prod/multv/server/chunk-VVCT4QZE.mjs
prod/multv/server/chunk-WTNAUTGB.mjs
prod/multv/server/index.server.html
prod/multv/server/main.server.mjs
prod/multv/server/polyfills.server.mjs
prod/multv/server/render-utils.server.mjs
prod/multv/server/server.mjs
